<!-- <div class="home-container">
    <h1>Welcome to TextScape</h1>
    <p>
        Share your texts, follow your friends, discover a new universe to "textscape" from the world!
    </p>
    <a routerLink = "/register">Sign Up</a> or <a routerLink = "/login">Login</a> to get started!
</div> -->

<main>
  <div class="container">
    <div class="left" >
      <a href="" class="profile"  *ngIf="authService.isLoggedIn()"
      routerLink="/users/{{ authService.getUser().username }}/profile">
        <div class="profile-photo">
          <img src="../../assets/images/profile-1.jpg" alt="" />
        </div>
        <div class="handle">
          <h4>Arsh Ansari</h4>
          <p class="text-muted"></p>
        </div>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <a
          href=""
          class="menu-item active"
          routerLink="/posts/feed"
          routerLinkActive="active"
          *ngIf="authService.isLoggedIn()"
        >
          <span><i class="fa-solid fa-house"></i></span>
          <h3>Feed</h3>
        </a>

        <a
          href=""
          class="menu-item"
          routerLink="/users/:username/feed"
          routerLinkActive="active"
          *ngIf="authService.isLoggedIn()"
        >
          <span><i class="fa-solid fa-house"></i></span>
          <h3>Following</h3>
        </a>


        <a
          href=""
          class="menu-item"
          *ngIf="!authService.isLoggedIn()"
          routerLink="/login"
          routerLinkActive="active"
        >
          <span><i class="fa-solid fa-house"></i></span>
          <h3>Login</h3>
        </a>

        <a
          href=""
          class="menu-item"
          *ngIf="!authService.isLoggedIn()"
          routerLink="/register"
          routerLinkActive="active"
        >
          <span><i class="fa-solid fa-house"></i></span>
          <h3>Register</h3>
        </a>

        <a
          href=""
          class="menu-item active"
          *ngIf="authService.isLoggedIn()"
          (click)="authService.logOut()"
          style="cursor: pointer"
        >
          <span><i class="fa-solid fa-house"></i></span>
          <h3>Logout</h3>
        </a>
      </div>

      <!-- Create post button -->
      <label for="create-post" class="btn btn-primary"  routerLink="/posts/create"
          routerLinkActive="active" *ngIf="authService.isLoggedIn()">Create-Post</label>
    </div>
    <div class="Middle">
        <router-outlet></router-outlet>
    </div>
    <div class="right" *ngIf="authService.isLoggedIn()">
      <div class="friend-requests">
        <h4>Requests</h4>
        <div class="request">
          <div class="info">
            <div class="profile-photo">
              <img src="../../assets/images/profile-13.jpg" alt="">
            </div>
            <div>
              <h5>Arsh Ansari</h5>
              <p class="text-muted">8 mutual friends</p>
              
            </div>

          </div>
          <div class="action">
            <button class="btn btn-primary">Accept</button>
            <button class="btn ">Reject</button>
          </div>
        </div>
    </div>
    </div>
  </div>
</main>
