<p-card  [style]="{ width: '360px' }" styleClass="login-form-card">
    <ng-template pTemplate="header">
        <img class="logo-instagram" alt="Logo" src="assets/logo.png" />
    </ng-template>
    <div class="login-form-control-container">
        <input type="text" class="login-form-control" size="small" pInputText placeholder="Username" />
        <input type="text" class="login-form-control" size="small" pInputText placeholder="Password"/>
        <p-button class="login-form-control-button" size="small" label="Login"></p-button>
    </div>
    <p-divider align="center">
        <p>OR</p>
    </p-divider>
    <ng-template pTemplate="footer">
        
    </ng-template>
</p-card>